src/main/templates/S3ToKafkaDataFlow_updated.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?><template><description></description><name>S3ToKafkaDataFlowNewest</name><snippet><connections><id>2b2be93b-52b7-4553-8133-341b51559f76</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>7b868f0b-916a-4e9c-87d2-d3c61c69d047</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name>SetObjectKeyAsFilename</name><selectedRelationships>split</selectedRelationships><source><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>2dcb0bd5-0464-481f-94a6-9f48db3477ac</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>1fd2f1bd-0ee2-4b37-8c93-1c38649bb1e0</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>2dcb0bd5-0464-481f-94a6-9f48db3477ac</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name>Extract S3 object key</name><selectedRelationships>success</selectedRelationships><source><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>72c0d081-7e59-43d4-9ac8-ff5484876689</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>2bb17611-60d2-4086-9cc4-e8d6a215f867</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><bends><x>2012.49365234375</x><y>1515.45361328125</y></bends><bends><x>2012.171130392036</x><y>1574.3440027667964</y></bends><destination><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>7b868f0b-916a-4e9c-87d2-d3c61c69d047</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>unmatched</selectedRelationships><source><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>7b868f0b-916a-4e9c-87d2-d3c61c69d047</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e8bc45c4-42ac-45e8-81a8-ae0f72a071cd</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>3fb86559-0eb8-4d83-a551-7fc83f86aa3c</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>success</selectedRelationships><source><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>df670a77-5fb7-4713-a23c-9473f65477e7</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>527f030a-7830-410e-bfe9-011b7966bff7</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>cd2746a5-2f8c-416c-8ea9-df31246bbbda</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>splits</selectedRelationships><source><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>3fb86559-0eb8-4d83-a551-7fc83f86aa3c</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>acd17b32-2cb4-4d52-8310-f4a07dd66e09</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>df670a77-5fb7-4713-a23c-9473f65477e7</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><selectedRelationships>matched</selectedRelationships><source><groupId>cc088de2-ba5b-425b-a987-13d1694e46ed</groupId><id>7b868f0b-916a-4e9c-87d2-d3c61c69d047</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><processors><id>cd2746a5-2f8c-416c-8ea9-df31246bbbda</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><position><x>1521.8951075886084</x><y>1652.7439481341708</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Partition</key><value><description>Specifies which Kafka Partition to add the message to. If using a message delimiter, all messages in the same FlowFile will be sent to the same partition. If a partition is specified but is not valid, then all messages within the same FlowFile will use the same partition but it remains undefined which partition is used.</description><displayName>Partition</displayName><dynamic>false</dynamic><name>Partition</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Max Record Size</key><value><defaultValue>1 MB</defaultValue><description>The maximum size that any individual record can be.</description><displayName>Max Record Size</displayName><dynamic>false</dynamic><name>Max Record Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Client Name</key><value><description>Client Name to use when communicating with Kafka</description><displayName>Client Name</displayName><dynamic>false</dynamic><name>Client Name</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Compression Codec</key><value><allowableValues><description>Compression will not be used for any topic.</description><displayName>None</displayName><value>none</value></allowableValues><allowableValues><description>Compress messages using GZIP</description><displayName>GZIP</displayName><value>gzip</value></allowableValues><allowableValues><description>Compress messages using Snappy</description><displayName>Snappy</displayName><value>snappy</value></allowableValues><defaultValue>none</defaultValue><description>This parameter allows you to specify the compression codec for all data generated by this producer.</description><displayName>Compression Codec</displayName><dynamic>false</dynamic><name>Compression Codec</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Message Delimiter</key><value><description>Specifies the delimiter (interpreted in its UTF-8 byte representation) to use for splitting apart multiple messages within a single FlowFile. If not specified, the entire content of the FlowFile will be used as a single message. If specified, the contents of the FlowFile will be split on this delimiter and each section sent as a separate Kafka message. Note that if messages are delimited and some messages for a given FlowFile are transferred successfully while others are not, the messages will be split into individual FlowFiles, such that those messages that were successfully sent are routed to the 'success' relationship while other messages are sent to the 'failure' relationship.</description><displayName>Message Delimiter</displayName><dynamic>false</dynamic><name>Message Delimiter</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Partition Strategy</key><value><allowableValues><description>Messages will be assigned partitions in a round-robin fashion, sending the first message to Partition 1, the next Partition to Partition 2, and so on, wrapping as necessary.</description><displayName>Round Robin</displayName><value>Round Robin</value></allowableValues><allowableValues><description>Messages will be assigned to random partitions.</description><displayName>Random</displayName><value>Random Robin</value></allowableValues><allowableValues><description>The &lt;Partition&gt; property will be used to determine the partition. All messages within the same FlowFile will be assigned to the same partition.</description><displayName>User-Defined</displayName><value>User-Defined</value></allowableValues><defaultValue>Round Robin</defaultValue><description>Specifies how messages should be partitioned when sent to Kafka</description><displayName>Partition Strategy</displayName><dynamic>false</dynamic><name>Partition Strategy</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Topic Name</key><value><description>The Kafka Topic of interest</description><displayName>Topic Name</displayName><dynamic>false</dynamic><name>Topic Name</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Kafka Key</key><value><description>The Key to use for the Message</description><displayName>Kafka Key</displayName><dynamic>false</dynamic><name>Kafka Key</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Delivery Guarantee</key><value><allowableValues><description>FlowFile will be routed to success after successfully writing the content to a Kafka node, without waiting for a response. This provides the best performance but may result in data loss.</description><displayName>Best Effort</displayName><value>0</value></allowableValues><allowableValues><description>FlowFile will be routed to success if the message is received by a single Kafka node, whether or not it is replicated. This is faster than &lt;Guarantee Replicated Delivery&gt; but can result in data loss if a Kafka node crashes</description><displayName>Guarantee Single Node Delivery</displayName><value>1</value></allowableValues><allowableValues><description>FlowFile will be routed to failure unless the message is replicated to the appropriate number of Kafka Nodes according to the Topic configuration</description><displayName>Guarantee Replicated Delivery</displayName><value>all</value></allowableValues><defaultValue>0</defaultValue><description>Specifies the requirement for guaranteeing that a message is sent to Kafka</description><displayName>Delivery Guarantee</displayName><dynamic>false</dynamic><name>Delivery Guarantee</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Max Buffer Size</key><value><defaultValue>5 MB</defaultValue><description>The maximum amount of data to buffer in memory before sending to Kafka</description><displayName>Max Buffer Size</displayName><dynamic>false</dynamic><name>Max Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Queue Buffering Max Time</key><value><defaultValue>5 secs</defaultValue><description>Maximum time to buffer data before sending to Kafka. For example a setting of 100 ms will try to batch together 100 milliseconds' worth of messages to send at once. This will improve throughput but adds message delivery latency due to the buffering.</description><displayName>Queue Buffering Max Time</displayName><dynamic>false</dynamic><name>Queue Buffering Max Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description>The amount of time to wait for a response from Kafka before determining that there is a communications error</description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Known Brokers</key><value><description>A comma-separated list of known Kafka Brokers in the format &lt;host&gt;:&lt;port&gt;</description><displayName>Known Brokers</displayName><dynamic>false</dynamic><name>Known Brokers</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Async Batch Size</key><value><defaultValue>200</defaultValue><description>The number of messages to send in one batch. The producer will wait until either this number of messages are ready to send or &quot;Queue Buffering Max Time&quot; is reached. NOTE: This property will be ignored unless the 'Message Delimiter' property is specified.</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Async Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Partition</key></entry><entry><key>Max Record Size</key></entry><entry><key>Client Name</key><value>NiFi-a139a4d0-5365-434e-82d3-0e306c2c9ac4</value></entry><entry><key>Compression Codec</key></entry><entry><key>Message Delimiter</key></entry><entry><key>Partition Strategy</key><value>Round Robin</value></entry><entry><key>Topic Name</key><value>files_from_nifi_s3</value></entry><entry><key>Kafka Key</key></entry><entry><key>Delivery Guarantee</key></entry><entry><key>Max Buffer Size</key></entry><entry><key>Queue Buffering Max Time</key></entry><entry><key>Communications Timeout</key></entry><entry><key>Known Brokers</key><value>localhost:9092</value></entry><entry><key>Async Batch Size</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>PutKafka</name><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that cannot be sent to Kafka will be routed to this Relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>Any FlowFile that is successfully sent to Kafka will be routed to this Relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.kafka.PutKafka</type></processors><processors><id>72c0d081-7e59-43d4-9ac8-ff5484876689</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><position><x>915.7274623006533</x><y>1238.1594474900894</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Proxy Host</key><value><description>Proxy host name or IP</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Auto Delete Messages</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Specifies whether the messages should be automatically deleted by the processors once they have been received.</description><displayName>Auto Delete Messages</displayName><dynamic>false</dynamic><name>Auto Delete Messages</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Access Key</key><value><description></description><displayName>Access Key</displayName><dynamic>false</dynamic><name>Access Key</name><required>false</required><sensitive>true</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Queue URL</key><value><description>The URL of the queue to act upon</description><displayName>Queue URL</displayName><dynamic>false</dynamic><name>Queue URL</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Receive Message Wait Time</key><value><defaultValue>0 sec</defaultValue><description>The maximum amount of time to wait on a long polling receive call. Setting this to a value of 1 second or greater will reduce the number of SQS requests and decrease fetch latency at the cost of a constantly active thread.</description><displayName>Receive Message Wait Time</displayName><dynamic>false</dynamic><name>Receive Message Wait Time</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>AWS Credentials Provider service</key><value><description>The Controller Service that is used to obtain aws credentials provider</description><displayName>AWS Credentials Provider service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService><name>AWS Credentials Provider service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Batch Size</key><value><defaultValue>10</defaultValue><description>The maximum number of messages to send in a single network request</description><displayName>Batch Size</displayName><dynamic>false</dynamic><name>Batch Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Visibility Timeout</key><value><defaultValue>15 mins</defaultValue><description>The amount of time after a message is received but not deleted that the message is hidden from other consumers</description><displayName>Visibility Timeout</displayName><dynamic>false</dynamic><name>Visibility Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description></description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Secret Key</key><value><description></description><displayName>Secret Key</displayName><dynamic>false</dynamic><name>Secret Key</name><required>false</required><sensitive>true</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Credentials File</key><value><description></description><displayName>Credentials File</displayName><dynamic>false</dynamic><name>Credentials File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Region</key><value><allowableValues><description>us-gov-west-1</description><displayName>us-gov-west-1</displayName><value>us-gov-west-1</value></allowableValues><allowableValues><description>us-east-1</description><displayName>us-east-1</displayName><value>us-east-1</value></allowableValues><allowableValues><description>us-west-1</description><displayName>us-west-1</displayName><value>us-west-1</value></allowableValues><allowableValues><description>us-west-2</description><displayName>us-west-2</displayName><value>us-west-2</value></allowableValues><allowableValues><description>eu-west-1</description><displayName>eu-west-1</displayName><value>eu-west-1</value></allowableValues><allowableValues><description>eu-central-1</description><displayName>eu-central-1</displayName><value>eu-central-1</value></allowableValues><allowableValues><description>ap-southeast-1</description><displayName>ap-southeast-1</displayName><value>ap-southeast-1</value></allowableValues><allowableValues><description>ap-southeast-2</description><displayName>ap-southeast-2</displayName><value>ap-southeast-2</value></allowableValues><allowableValues><description>ap-northeast-1</description><displayName>ap-northeast-1</displayName><value>ap-northeast-1</value></allowableValues><allowableValues><description>sa-east-1</description><displayName>sa-east-1</displayName><value>sa-east-1</value></allowableValues><allowableValues><description>cn-north-1</description><displayName>cn-north-1</displayName><value>cn-north-1</value></allowableValues><defaultValue>us-west-2</defaultValue><description></description><displayName>Region</displayName><dynamic>false</dynamic><name>Region</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><allowableValues><displayName>Big5</displayName><value>Big5</value></allowableValues><allowableValues><displayName>Big5-HKSCS</displayName><value>Big5-HKSCS</value></allowableValues><allowableValues><displayName>CESU-8</displayName><value>CESU-8</value></allowableValues><allowableValues><displayName>EUC-JP</displayName><value>EUC-JP</value></allowableValues><allowableValues><displayName>EUC-KR</displayName><value>EUC-KR</value></allowableValues><allowableValues><displayName>GB18030</displayName><value>GB18030</value></allowableValues><allowableValues><displayName>GB2312</displayName><value>GB2312</value></allowableValues><allowableValues><displayName>GBK</displayName><value>GBK</value></allowableValues><allowableValues><displayName>IBM-Thai</displayName><value>IBM-Thai</value></allowableValues><allowableValues><displayName>IBM00858</displayName><value>IBM00858</value></allowableValues><allowableValues><displayName>IBM01140</displayName><value>IBM01140</value></allowableValues><allowableValues><displayName>IBM01141</displayName><value>IBM01141</value></allowableValues><allowableValues><displayName>IBM01142</displayName><value>IBM01142</value></allowableValues><allowableValues><displayName>IBM01143</displayName><value>IBM01143</value></allowableValues><allowableValues><displayName>IBM01144</displayName><value>IBM01144</value></allowableValues><allowableValues><displayName>IBM01145</displayName><value>IBM01145</value></allowableValues><allowableValues><displayName>IBM01146</displayName><value>IBM01146</value></allowableValues><allowableValues><displayName>IBM01147</displayName><value>IBM01147</value></allowableValues><allowableValues><displayName>IBM01148</displayName><value>IBM01148</value></allowableValues><allowableValues><displayName>IBM01149</displayName><value>IBM01149</value></allowableValues><allowableValues><displayName>IBM037</displayName><value>IBM037</value></allowableValues><allowableValues><displayName>IBM1026</displayName><value>IBM1026</value></allowableValues><allowableValues><displayName>IBM1047</displayName><value>IBM1047</value></allowableValues><allowableValues><displayName>IBM273</displayName><value>IBM273</value></allowableValues><allowableValues><displayName>IBM277</displayName><value>IBM277</value></allowableValues><allowableValues><displayName>IBM278</displayName><value>IBM278</value></allowableValues><allowableValues><displayName>IBM280</displayName><value>IBM280</value></allowableValues><allowableValues><displayName>IBM284</displayName><value>IBM284</value></allowableValues><allowableValues><displayName>IBM285</displayName><value>IBM285</value></allowableValues><allowableValues><displayName>IBM290</displayName><value>IBM290</value></allowableValues><allowableValues><displayName>IBM297</displayName><value>IBM297</value></allowableValues><allowableValues><displayName>IBM420</displayName><value>IBM420</value></allowableValues><allowableValues><displayName>IBM424</displayName><value>IBM424</value></allowableValues><allowableValues><displayName>IBM437</displayName><value>IBM437</value></allowableValues><allowableValues><displayName>IBM500</displayName><value>IBM500</value></allowableValues><allowableValues><displayName>IBM775</displayName><value>IBM775</value></allowableValues><allowableValues><displayName>IBM850</displayName><value>IBM850</value></allowableValues><allowableValues><displayName>IBM852</displayName><value>IBM852</value></allowableValues><allowableValues><displayName>IBM855</displayName><value>IBM855</value></allowableValues><allowableValues><displayName>IBM857</displayName><value>IBM857</value></allowableValues><allowableValues><displayName>IBM860</displayName><value>IBM860</value></allowableValues><allowableValues><displayName>IBM861</displayName><value>IBM861</value></allowableValues><allowableValues><displayName>IBM862</displayName><value>IBM862</value></allowableValues><allowableValues><displayName>IBM863</displayName><value>IBM863</value></allowableValues><allowableValues><displayName>IBM864</displayName><value>IBM864</value></allowableValues><allowableValues><displayName>IBM865</displayName><value>IBM865</value></allowableValues><allowableValues><displayName>IBM866</displayName><value>IBM866</value></allowableValues><allowableValues><displayName>IBM868</displayName><value>IBM868</value></allowableValues><allowableValues><displayName>IBM869</displayName><value>IBM869</value></allowableValues><allowableValues><displayName>IBM870</displayName><value>IBM870</value></allowableValues><allowableValues><displayName>IBM871</displayName><value>IBM871</value></allowableValues><allowableValues><displayName>IBM918</displayName><value>IBM918</value></allowableValues><allowableValues><displayName>ISO-2022-CN</displayName><value>ISO-2022-CN</value></allowableValues><allowableValues><displayName>ISO-2022-JP</displayName><value>ISO-2022-JP</value></allowableValues><allowableValues><displayName>ISO-2022-JP-2</displayName><value>ISO-2022-JP-2</value></allowableValues><allowableValues><displayName>ISO-2022-KR</displayName><value>ISO-2022-KR</value></allowableValues><allowableValues><displayName>ISO-8859-1</displayName><value>ISO-8859-1</value></allowableValues><allowableValues><displayName>ISO-8859-13</displayName><value>ISO-8859-13</value></allowableValues><allowableValues><displayName>ISO-8859-15</displayName><value>ISO-8859-15</value></allowableValues><allowableValues><displayName>ISO-8859-2</displayName><value>ISO-8859-2</value></allowableValues><allowableValues><displayName>ISO-8859-3</displayName><value>ISO-8859-3</value></allowableValues><allowableValues><displayName>ISO-8859-4</displayName><value>ISO-8859-4</value></allowableValues><allowableValues><displayName>ISO-8859-5</displayName><value>ISO-8859-5</value></allowableValues><allowableValues><displayName>ISO-8859-6</displayName><value>ISO-8859-6</value></allowableValues><allowableValues><displayName>ISO-8859-7</displayName><value>ISO-8859-7</value></allowableValues><allowableValues><displayName>ISO-8859-8</displayName><value>ISO-8859-8</value></allowableValues><allowableValues><displayName>ISO-8859-9</displayName><value>ISO-8859-9</value></allowableValues><allowableValues><displayName>JIS_X0201</displayName><value>JIS_X0201</value></allowableValues><allowableValues><displayName>JIS_X0212-1990</displayName><value>JIS_X0212-1990</value></allowableValues><allowableValues><displayName>KOI8-R</displayName><value>KOI8-R</value></allowableValues><allowableValues><displayName>KOI8-U</displayName><value>KOI8-U</value></allowableValues><allowableValues><displayName>Shift_JIS</displayName><value>Shift_JIS</value></allowableValues><allowableValues><displayName>TIS-620</displayName><value>TIS-620</value></allowableValues><allowableValues><displayName>US-ASCII</displayName><value>US-ASCII</value></allowableValues><allowableValues><displayName>UTF-16</displayName><value>UTF-16</value></allowableValues><allowableValues><displayName>UTF-16BE</displayName><value>UTF-16BE</value></allowableValues><allowableValues><displayName>UTF-16LE</displayName><value>UTF-16LE</value></allowableValues><allowableValues><displayName>UTF-32</displayName><value>UTF-32</value></allowableValues><allowableValues><displayName>UTF-32BE</displayName><value>UTF-32BE</value></allowableValues><allowableValues><displayName>UTF-32LE</displayName><value>UTF-32LE</value></allowableValues><allowableValues><displayName>UTF-8</displayName><value>UTF-8</value></allowableValues><allowableValues><displayName>windows-1250</displayName><value>windows-1250</value></allowableValues><allowableValues><displayName>windows-1251</displayName><value>windows-1251</value></allowableValues><allowableValues><displayName>windows-1252</displayName><value>windows-1252</value></allowableValues><allowableValues><displayName>windows-1253</displayName><value>windows-1253</value></allowableValues><allowableValues><displayName>windows-1254</displayName><value>windows-1254</value></allowableValues><allowableValues><displayName>windows-1255</displayName><value>windows-1255</value></allowableValues><allowableValues><displayName>windows-1256</displayName><value>windows-1256</value></allowableValues><allowableValues><displayName>windows-1257</displayName><value>windows-1257</value></allowableValues><allowableValues><displayName>windows-1258</displayName><value>windows-1258</value></allowableValues><allowableValues><displayName>windows-31j</displayName><value>windows-31j</value></allowableValues><allowableValues><displayName>x-Big5-HKSCS-2001</displayName><value>x-Big5-HKSCS-2001</value></allowableValues><allowableValues><displayName>x-Big5-Solaris</displayName><value>x-Big5-Solaris</value></allowableValues><allowableValues><displayName>x-COMPOUND_TEXT</displayName><value>x-COMPOUND_TEXT</value></allowableValues><allowableValues><displayName>x-euc-jp-linux</displayName><value>x-euc-jp-linux</value></allowableValues><allowableValues><displayName>x-EUC-TW</displayName><value>x-EUC-TW</value></allowableValues><allowableValues><displayName>x-eucJP-Open</displayName><value>x-eucJP-Open</value></allowableValues><allowableValues><displayName>x-IBM1006</displayName><value>x-IBM1006</value></allowableValues><allowableValues><displayName>x-IBM1025</displayName><value>x-IBM1025</value></allowableValues><allowableValues><displayName>x-IBM1046</displayName><value>x-IBM1046</value></allowableValues><allowableValues><displayName>x-IBM1097</displayName><value>x-IBM1097</value></allowableValues><allowableValues><displayName>x-IBM1098</displayName><value>x-IBM1098</value></allowableValues><allowableValues><displayName>x-IBM1112</displayName><value>x-IBM1112</value></allowableValues><allowableValues><displayName>x-IBM1122</displayName><value>x-IBM1122</value></allowableValues><allowableValues><displayName>x-IBM1123</displayName><value>x-IBM1123</value></allowableValues><allowableValues><displayName>x-IBM1124</displayName><value>x-IBM1124</value></allowableValues><allowableValues><displayName>x-IBM1166</displayName><value>x-IBM1166</value></allowableValues><allowableValues><displayName>x-IBM1364</displayName><value>x-IBM1364</value></allowableValues><allowableValues><displayName>x-IBM1381</displayName><value>x-IBM1381</value></allowableValues><allowableValues><displayName>x-IBM1383</displayName><value>x-IBM1383</value></allowableValues><allowableValues><displayName>x-IBM300</displayName><value>x-IBM300</value></allowableValues><allowableValues><displayName>x-IBM33722</displayName><value>x-IBM33722</value></allowableValues><allowableValues><displayName>x-IBM737</displayName><value>x-IBM737</value></allowableValues><allowableValues><displayName>x-IBM833</displayName><value>x-IBM833</value></allowableValues><allowableValues><displayName>x-IBM834</displayName><value>x-IBM834</value></allowableValues><allowableValues><displayName>x-IBM856</displayName><value>x-IBM856</value></allowableValues><allowableValues><displayName>x-IBM874</displayName><value>x-IBM874</value></allowableValues><allowableValues><displayName>x-IBM875</displayName><value>x-IBM875</value></allowableValues><allowableValues><displayName>x-IBM921</displayName><value>x-IBM921</value></allowableValues><allowableValues><displayName>x-IBM922</displayName><value>x-IBM922</value></allowableValues><allowableValues><displayName>x-IBM930</displayName><value>x-IBM930</value></allowableValues><allowableValues><displayName>x-IBM933</displayName><value>x-IBM933</value></allowableValues><allowableValues><displayName>x-IBM935</displayName><value>x-IBM935</value></allowableValues><allowableValues><displayName>x-IBM937</displayName><value>x-IBM937</value></allowableValues><allowableValues><displayName>x-IBM939</displayName><value>x-IBM939</value></allowableValues><allowableValues><displayName>x-IBM942</displayName><value>x-IBM942</value></allowableValues><allowableValues><displayName>x-IBM942C</displayName><value>x-IBM942C</value></allowableValues><allowableValues><displayName>x-IBM943</displayName><value>x-IBM943</value></allowableValues><allowableValues><displayName>x-IBM943C</displayName><value>x-IBM943C</value></allowableValues><allowableValues><displayName>x-IBM948</displayName><value>x-IBM948</value></allowableValues><allowableValues><displayName>x-IBM949</displayName><value>x-IBM949</value></allowableValues><allowableValues><displayName>x-IBM949C</displayName><value>x-IBM949C</value></allowableValues><allowableValues><displayName>x-IBM950</displayName><value>x-IBM950</value></allowableValues><allowableValues><displayName>x-IBM964</displayName><value>x-IBM964</value></allowableValues><allowableValues><displayName>x-IBM970</displayName><value>x-IBM970</value></allowableValues><allowableValues><displayName>x-ISCII91</displayName><value>x-ISCII91</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-CNS</displayName><value>x-ISO-2022-CN-CNS</value></allowableValues><allowableValues><displayName>x-ISO-2022-CN-GB</displayName><value>x-ISO-2022-CN-GB</value></allowableValues><allowableValues><displayName>x-iso-8859-11</displayName><value>x-iso-8859-11</value></allowableValues><allowableValues><displayName>x-JIS0208</displayName><value>x-JIS0208</value></allowableValues><allowableValues><displayName>x-JISAutoDetect</displayName><value>x-JISAutoDetect</value></allowableValues><allowableValues><displayName>x-Johab</displayName><value>x-Johab</value></allowableValues><allowableValues><displayName>x-MacArabic</displayName><value>x-MacArabic</value></allowableValues><allowableValues><displayName>x-MacCentralEurope</displayName><value>x-MacCentralEurope</value></allowableValues><allowableValues><displayName>x-MacCroatian</displayName><value>x-MacCroatian</value></allowableValues><allowableValues><displayName>x-MacCyrillic</displayName><value>x-MacCyrillic</value></allowableValues><allowableValues><displayName>x-MacDingbat</displayName><value>x-MacDingbat</value></allowableValues><allowableValues><displayName>x-MacGreek</displayName><value>x-MacGreek</value></allowableValues><allowableValues><displayName>x-MacHebrew</displayName><value>x-MacHebrew</value></allowableValues><allowableValues><displayName>x-MacIceland</displayName><value>x-MacIceland</value></allowableValues><allowableValues><displayName>x-MacRoman</displayName><value>x-MacRoman</value></allowableValues><allowableValues><displayName>x-MacRomania</displayName><value>x-MacRomania</value></allowableValues><allowableValues><displayName>x-MacSymbol</displayName><value>x-MacSymbol</value></allowableValues><allowableValues><displayName>x-MacThai</displayName><value>x-MacThai</value></allowableValues><allowableValues><displayName>x-MacTurkish</displayName><value>x-MacTurkish</value></allowableValues><allowableValues><displayName>x-MacUkraine</displayName><value>x-MacUkraine</value></allowableValues><allowableValues><displayName>x-MS932_0213</displayName><value>x-MS932_0213</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS</displayName><value>x-MS950-HKSCS</value></allowableValues><allowableValues><displayName>x-MS950-HKSCS-XP</displayName><value>x-MS950-HKSCS-XP</value></allowableValues><allowableValues><displayName>x-mswin-936</displayName><value>x-mswin-936</value></allowableValues><allowableValues><displayName>x-PCK</displayName><value>x-PCK</value></allowableValues><allowableValues><displayName>x-SJIS_0213</displayName><value>x-SJIS_0213</value></allowableValues><allowableValues><displayName>x-UTF-16LE-BOM</displayName><value>x-UTF-16LE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32BE-BOM</displayName><value>X-UTF-32BE-BOM</value></allowableValues><allowableValues><displayName>X-UTF-32LE-BOM</displayName><value>X-UTF-32LE-BOM</value></allowableValues><allowableValues><displayName>x-windows-50220</displayName><value>x-windows-50220</value></allowableValues><allowableValues><displayName>x-windows-50221</displayName><value>x-windows-50221</value></allowableValues><allowableValues><displayName>x-windows-874</displayName><value>x-windows-874</value></allowableValues><allowableValues><displayName>x-windows-949</displayName><value>x-windows-949</value></allowableValues><allowableValues><displayName>x-windows-950</displayName><value>x-windows-950</value></allowableValues><allowableValues><displayName>x-windows-iso2022jp</displayName><value>x-windows-iso2022jp</value></allowableValues><defaultValue>UTF-8</defaultValue><description>The Character Set that should be used to encode the textual content of the SQS message</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host Port</key><value><description>Proxy host port</description><displayName>Proxy Host Port</displayName><dynamic>false</dynamic><name>Proxy Host Port</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Proxy Host</key></entry><entry><key>Auto Delete Messages</key></entry><entry><key>Access Key</key></entry><entry><key>Queue URL</key><value>https://sqs.us-west-2.amazonaws.com/439543628656/nifi-ram-queue</value></entry><entry><key>Receive Message Wait Time</key></entry><entry><key>AWS Credentials Provider service</key></entry><entry><key>Batch Size</key></entry><entry><key>Visibility Timeout</key></entry><entry><key>Communications Timeout</key></entry><entry><key>Secret Key</key></entry><entry><key>Credentials File</key></entry><entry><key>Region</key></entry><entry><key>Character Set</key></entry><entry><key>Proxy Host Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GetSQS</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to success relationship</description><name>success</name></relationships><state>RUNNING</state><style/><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.aws.sqs.GetSQS</type></processors><processors><id>3fb86559-0eb8-4d83-a551-7fc83f86aa3c</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><position><x>914.0639593785961</x><y>1650.0354275819404</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Remove Trailing Newlines</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Whether to remove newlines at the end of each split file. This should be false if you intend to merge the split files later. If this is set to 'true' and a FlowFile is generated that contains only 'empty lines' (i.e., consists only of &#xD; and 
 characters), the FlowFile will not be emitted. Note, however, that if the Header Line Count is greater than 0, the resultant FlowFile will never be empty as it will consist of the header lines, so a FlowFile may be emitted that contians only the header lines.</description><displayName>Remove Trailing Newlines</displayName><dynamic>false</dynamic><name>Remove Trailing Newlines</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Header Line Count</key><value><defaultValue>0</defaultValue><description>The number of lines that should be considered part of the header; the header lines will be duplicated to all split files</description><displayName>Header Line Count</displayName><dynamic>false</dynamic><name>Header Line Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Line Split Count</key><value><description>The number of lines that will be added to each split file (excluding the header, if the Header Line Count property is greater than 0).</description><displayName>Line Split Count</displayName><dynamic>false</dynamic><name>Line Split Count</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Remove Trailing Newlines</key><value>true</value></entry><entry><key>Header Line Count</key></entry><entry><key>Line Split Count</key><value>1</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitText</name><relationships><autoTerminate>true</autoTerminate><description>If a file cannot be split for some reason, the original file will be routed to this destination and nothing will be routed elsewhere</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original input file will be routed to this destination when it has been successfully split into 1 or more files</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>The split files will be routed to this destination when an input file is successfully split into 1 or more split files</description><name>splits</name></relationships><state>RUNNING</state><style/><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitText</type></processors><processors><id>2dcb0bd5-0464-481f-94a6-9f48db3477ac</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><position><x>1520.2908701090478</x><y>1243.680570586948</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Null Value Representation</key><value><allowableValues><displayName>empty string</displayName><value>empty string</value></allowableValues><allowableValues><displayName>the string 'null'</displayName><value>the string 'null'</value></allowableValues><defaultValue>empty string</defaultValue><description>Indicates the desired representation of JSON Path expressions resulting in a null value.</description><displayName>Null Value Representation</displayName><dynamic>false</dynamic><name>Null Value Representation</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>JsonPath Expression</key><value><description>A JsonPath expression that indicates the array element to split into JSON/scalar fragments.</description><displayName>JsonPath Expression</displayName><dynamic>false</dynamic><name>JsonPath Expression</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Null Value Representation</key><value>the string 'null'</value></entry><entry><key>JsonPath Expression</key><value>$.Records[*].s3.object.key</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>SplitJson</name><relationships><autoTerminate>true</autoTerminate><description>If a FlowFile fails processing for any reason (for example, the FlowFile is not valid JSON or the specified path does not exist), it will be routed to this relationship</description><name>failure</name></relationships><relationships><autoTerminate>true</autoTerminate><description>The original FlowFile that was split into segments. If the FlowFile fails processing, nothing will be sent to this relationship</description><name>original</name></relationships><relationships><autoTerminate>false</autoTerminate><description>All segments of the original FlowFile will be routed to this relationship</description><name>split</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#0a0075</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.SplitJson</type></processors><processors><id>7b868f0b-916a-4e9c-87d2-d3c61c69d047</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><position><x>1523.2353506134605</x><y>1477.2242054503783</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Enable Unicode Predefined Character Classes</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).</description><displayName>Enable Unicode Predefined Character Classes</displayName><dynamic>false</dynamic><name>Enable Unicode Predefined Character Classes</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).</description><displayName>Permit Whitespace and Comments in Pattern</displayName><dynamic>false</dynamic><name>Permit Whitespace and Comments in Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unicode-aware Case Folding</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).</description><displayName>Enable Unicode-aware Case Folding</displayName><dynamic>false</dynamic><name>Enable Unicode-aware Case Folding</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable DOTALL Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).</description><displayName>Enable DOTALL Mode</displayName><dynamic>false</dynamic><name>Enable DOTALL Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Unix Lines Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that only the '
' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).</description><displayName>Enable Unix Lines Mode</displayName><dynamic>false</dynamic><name>Enable Unix Lines Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Buffer Size</key><value><defaultValue>1 MB</defaultValue><description>Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.</description><displayName>Maximum Buffer Size</displayName><dynamic>false</dynamic><name>Maximum Buffer Size</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Canonical Equivalence</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match only when their full canonical decompositions match.</description><displayName>Enable Canonical Equivalence</displayName><dynamic>false</dynamic><name>Enable Canonical Equivalence</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Case-insensitive Matching</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).</description><displayName>Enable Case-insensitive Matching</displayName><dynamic>false</dynamic><name>Enable Case-insensitive Matching</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Multiline Mode</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).</description><displayName>Enable Multiline Mode</displayName><dynamic>false</dynamic><name>Enable Multiline Mode</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>filename</key><value><description></description><displayName>filename</displayName><dynamic>true</dynamic><name>filename</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Maximum Capture Group Length</key><value><defaultValue>1024</defaultValue><description>Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.</description><displayName>Maximum Capture Group Length</displayName><dynamic>false</dynamic><name>Maximum Capture Group Length</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>false</defaultValue><description>Indicates that Metacharacters and escape characters should be given no special meaning.</description><displayName>Enable Literal Parsing of the Pattern</displayName><dynamic>false</dynamic><name>Enable Literal Parsing of the Pattern</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Character Set</key><value><defaultValue>UTF-8</defaultValue><description>The Character Set in which the file is encoded</description><displayName>Character Set</displayName><dynamic>false</dynamic><name>Character Set</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Include Capture Group 0</key><value><allowableValues><displayName>true</displayName><value>true</value></allowableValues><allowableValues><displayName>false</displayName><value>false</value></allowableValues><defaultValue>true</defaultValue><description>Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.</description><displayName>Include Capture Group 0</displayName><dynamic>false</dynamic><name>Include Capture Group 0</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Enable Unicode Predefined Character Classes</key></entry><entry><key>Permit Whitespace and Comments in Pattern</key></entry><entry><key>Enable Unicode-aware Case Folding</key></entry><entry><key>Enable DOTALL Mode</key></entry><entry><key>Enable Unix Lines Mode</key></entry><entry><key>Maximum Buffer Size</key></entry><entry><key>Enable Canonical Equivalence</key></entry><entry><key>Enable Case-insensitive Matching</key></entry><entry><key>Enable Multiline Mode</key></entry><entry><key>filename</key><value>(.*)</value></entry><entry><key>Maximum Capture Group Length</key></entry><entry><key>Enable Literal Parsing of the Pattern</key></entry><entry><key>Character Set</key></entry><entry><key>Include Capture Group 0</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractText</name><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result</description><name>matched</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile</description><name>unmatched</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#f5abab</value></entry></style><supportsEventDriven>true</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.standard.ExtractText</type></processors><processors><id>df670a77-5fb7-4713-a23c-9473f65477e7</id><parentGroupId>cc088de2-ba5b-425b-a987-13d1694e46ed</parentGroupId><position><x>912.9598735122077</x><y>1392.1742960995455</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><defaultConcurrentTasks><entry><key>TIMER_DRIVEN</key><value>1</value></entry><entry><key>EVENT_DRIVEN</key><value>0</value></entry><entry><key>CRON_DRIVEN</key><value>1</value></entry></defaultConcurrentTasks><defaultSchedulingPeriod><entry><key>TIMER_DRIVEN</key><value>0 sec</value></entry><entry><key>CRON_DRIVEN</key><value>* * * * * ?</value></entry></defaultSchedulingPeriod><descriptors><entry><key>Proxy Host</key><value><description>Proxy host name or IP</description><displayName>Proxy Host</displayName><dynamic>false</dynamic><name>Proxy Host</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Access Key</key><value><description></description><displayName>Access Key</displayName><dynamic>false</dynamic><name>Access Key</name><required>false</required><sensitive>true</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Endpoint Override URL</key><value><description>Endpoint URL to use instead of the AWS default including scheme, host, port, and path. The AWS libraries select an endpoint URL based on the AWS region, but this property overrides the selected endpoint URL, allowing use with other S3-compatible endpoints.</description><displayName>Endpoint Override URL</displayName><dynamic>false</dynamic><name>Endpoint Override URL</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Object Key</key><value><defaultValue>${filename}</defaultValue><description></description><displayName>Object Key</displayName><dynamic>false</dynamic><name>Object Key</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>AWS Credentials Provider service</key><value><description>The Controller Service that is used to obtain aws credentials provider</description><displayName>AWS Credentials Provider service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService><name>AWS Credentials Provider service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>SSL Context Service</key><value><description>Specifies an optional SSL Context Service that, if provided, will be used to create connections</description><displayName>SSL Context Service</displayName><dynamic>false</dynamic><identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService><name>SSL Context Service</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Bucket</key><value><description></description><displayName>Bucket</displayName><dynamic>false</dynamic><name>Bucket</name><required>true</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Version</key><value><description>The Version of the Object to download</description><displayName>Version</displayName><dynamic>false</dynamic><name>Version</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Communications Timeout</key><value><defaultValue>30 secs</defaultValue><description></description><displayName>Communications Timeout</displayName><dynamic>false</dynamic><name>Communications Timeout</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Region</key><value><allowableValues><description>us-gov-west-1</description><displayName>us-gov-west-1</displayName><value>us-gov-west-1</value></allowableValues><allowableValues><description>us-east-1</description><displayName>us-east-1</displayName><value>us-east-1</value></allowableValues><allowableValues><description>us-west-1</description><displayName>us-west-1</displayName><value>us-west-1</value></allowableValues><allowableValues><description>us-west-2</description><displayName>us-west-2</displayName><value>us-west-2</value></allowableValues><allowableValues><description>eu-west-1</description><displayName>eu-west-1</displayName><value>eu-west-1</value></allowableValues><allowableValues><description>eu-central-1</description><displayName>eu-central-1</displayName><value>eu-central-1</value></allowableValues><allowableValues><description>ap-southeast-1</description><displayName>ap-southeast-1</displayName><value>ap-southeast-1</value></allowableValues><allowableValues><description>ap-southeast-2</description><displayName>ap-southeast-2</displayName><value>ap-southeast-2</value></allowableValues><allowableValues><description>ap-northeast-1</description><displayName>ap-northeast-1</displayName><value>ap-northeast-1</value></allowableValues><allowableValues><description>sa-east-1</description><displayName>sa-east-1</displayName><value>sa-east-1</value></allowableValues><allowableValues><description>cn-north-1</description><displayName>cn-north-1</displayName><value>cn-north-1</value></allowableValues><defaultValue>us-west-2</defaultValue><description></description><displayName>Region</displayName><dynamic>false</dynamic><name>Region</name><required>true</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Secret Key</key><value><description></description><displayName>Secret Key</displayName><dynamic>false</dynamic><name>Secret Key</name><required>false</required><sensitive>true</sensitive><supportsEl>true</supportsEl></value></entry><entry><key>Credentials File</key><value><description></description><displayName>Credentials File</displayName><dynamic>false</dynamic><name>Credentials File</name><required>false</required><sensitive>false</sensitive><supportsEl>false</supportsEl></value></entry><entry><key>Proxy Host Port</key><value><description>Proxy host port</description><displayName>Proxy Host Port</displayName><dynamic>false</dynamic><name>Proxy Host Port</name><required>false</required><sensitive>false</sensitive><supportsEl>true</supportsEl></value></entry></descriptors><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Proxy Host</key></entry><entry><key>Access Key</key></entry><entry><key>Endpoint Override URL</key></entry><entry><key>Object Key</key></entry><entry><key>AWS Credentials Provider service</key></entry><entry><key>SSL Context Service</key></entry><entry><key>Bucket</key><value>nifi-ram-bucket-s3</value></entry><entry><key>Version</key></entry><entry><key>Communications Timeout</key></entry><entry><key>Region</key><value>us-west-2</value></entry><entry><key>Secret Key</key></entry><entry><key>Credentials File</key></entry><entry><key>Proxy Host Port</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>FetchS3Object</name><relationships><autoTerminate>true</autoTerminate><description>FlowFiles are routed to failure relationship</description><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><description>FlowFiles are routed to success relationship</description><name>success</name></relationships><state>RUNNING</state><style><entry><key>background-color</key><value>#31cc31</value></entry></style><supportsEventDriven>false</supportsEventDriven><supportsParallelProcessing>true</supportsParallelProcessing><type>org.apache.nifi.processors.aws.s3.FetchS3Object</type></processors></snippet><timestamp>07/05/2016 09:25:35 PDT</timestamp></template>